<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student details</title>
    <style>
    form {
      margin: auto;
      width: min(600px, 80%);
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #808080
      }
     label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
      </style>
</head>
<body>
<h1><center>STUDENT DETAILS<center></h1>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">

    </form>
</div>
</body>
</html>